#logo{
    }
    body{
        background-color: #ebeff5;
    }

    #total-staff{
        background-color: #289eb3;
    }

    #working-staff{
        background-color: #0bb86d;
    }

    #removed-staff{
        background-color: #ee1111;
    }

