<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-staff">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Staff</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_staffs}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="working-staff">
			  	<div class="card-header">
			  		<h5 class="card-title">Working Staff</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{working_staffs}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="removed-staff">
			  	<div class="card-header">
			  		<h5 class="card-title">Removed Staff</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{removed_staffs}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>